{% extends "index.twig" %}

{% block title %}Manage Michael's Website Users{% endblock %}

{% block contentHeaderText %}User Manager - Edit [{{ user.name }}]{% endblock %}

{% block breadcrumb %}<li>{{ getBreadcrumb('users')|raw }}</li><li class="active">{{ getBreadcrumb('user')|raw }} [{{ user.name }}]</li>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Edit [{{ user.name }}]</h3>
                </div>
                <form role="form" method="post" action="{{ route('manager/users/save/' ~ user.id) }}">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="user_name">Name</label>
                            <input type="text" class="form-control" id="user_name" name="user[name]" placeholder="Enter the user's name" value="{{ user.name }}" />
                        </div>
                        <div class="form-group">
                            <label for="user_username">Username</label>
                            <input type="text" class="form-control" id="user_username" name="user[username]" placeholder="Enter the user's username" value="{{ user.username }}" />
                        </div>
                        <div class="form-group">
                            <label for="user_email">E-mail address</label>
                            <input type="email" class="form-control" id="user_email" name="user[email]" placeholder="Enter the user's e-mail address" value="{{ user.email }}" />
                        </div>
                        <div class="form-group">
                            <label for="user_password">Password</label>
                            <input type="password" class="form-control" id="user_password" name="user[password]" placeholder="To change the user's password, fill in this field" />
                        </div>
                        <div class="form-group">
                            <label for="user_password_verify">Password</label>
                            <input type="password" class="form-control" id="user_password_verify" name="user[password_verify]" placeholder="Please re-enter the password from the above field" />
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Additional Details</h3>
                </div>
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label>User ID</label>
                            <p class="form-control-static">{{ user.id }}</p>
                        </div>
                        <div class="form-group">
                            <label>Last Login Time</label>
                            <p class="form-control-static">{{ user.lastLogin|date('Y-m-d H:i:s') }}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
