{% extends "index.twig" %}

{% block title %}Manage Michael's Website Categories{% endblock %}

{% block contentHeaderText %}Category Manager{% endblock %}

{% block breadcrumb %}<li><a href="{{ route('manager/' ~ extension) }}">{{ getBreadcrumb(extension)|raw }}</a></li><li class="active">{{ getBreadcrumb('categories')|raw }}</li>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Categories - {{ extension|capitalize }}</h3>
                    <div class="box-tools">
                        <a href="{{ route('manager/' ~ extension ~ '/categories/add') }}" type="submit" class="btn btn-default pull-right">Add New Category</a>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th style="width: 10px">ID</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Created By</th>
                        </tr>
                        {% if categories|length %}
                            {% for category in categories %}
                                <tr>
                                    <td>{{ category.id }}</td>
                                    <td>
                                        <a href="{{ route('manager/' ~ extension ~ '/categories/edit/' ~ category.id) }}">{{ category.title }}</a><br />
                                        <small>{{ category.alias }}</small>
                                    </td>
                                    <td>{% if category.published %}<span class="label label-success">Published</span>{% else %}<span class="label label-danger">Unpublished</span>{% endif %}</td>
                                    <td>{{ category.createdBy.name }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="warning">
                                <td colspan="4">No Categories Found</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
