{% extends 'base.html.twig' %}
{% set article = getPage('blog', item) %}

{% block title %}Blog - {{ article.title }}{% endblock %}

{% block metaOgType %}article{% endblock %}

{% block metadata %}
    <meta property="og:article:published_time" content="{{ article.publish_up|date('c') }}" />
    <meta property="og:article:modified_time" content="{{ article.date_modified|date('c') }}" />
    <meta property="og:article:author" content="{{ article.author }}" />
{% endblock %}

{% block headerBackground %}{% if article.image is empty %}{{ parent() }}{% else %}{{ asset('img/' ~ article.image) }}{% endif %}{% endblock %}

{% block pageHeadingText %}
    <div class="page-heading">
        <h1>{{ article.title }}</h1>
        <span class="meta">Posted by {{ article.author }} on {{ article.publish_up|date('l, F j, Y') }}</span>
    </div>
{% endblock %}

{% block content %}
    {{ article.text|raw }}
    <ul class="pager">
        {% if article.previous %}
        <li class="previous">
            <a href="{{ route('blog/' ~ article.previous) }}"><i class="fa fa-arrow-left"></i> Previous Post</a>
        </li>
        {% endif %}
        {% if article.next %}
        <li class="next">
            <a href="{{ route('blog/' ~ article.next) }}">Next Post <i class="fa fa-arrow-right"></i></a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
