{% extends 'base.html.twig' %}

{% block title %}Blog - {{ post.title }}{% endblock %}

{% block metaOgType %}article{% endblock %}

{% block metadata %}
    <meta property="og:article:published_time" content="{{ post.publishUp|date('c') }}" />
    <meta property="og:article:modified_time" content="{{ post.dateModified|date('c') }}" />
    <meta property="og:article:author" content="{{ post.author }}" />
{% endblock %}

{%- block headerBackground -%}
    {%- if post.image is empty -%}
        {{ parent() }}
    {%- else -%}
        {{ asset('img/' ~ post.image) }}
    {%- endif -%}
{%- endblock -%}

{% block pageHeadingText %}
    <div class="page-heading">
        <h1>{{ post.title }}</h1>
        <span class="meta">Posted by {{ post.author }} on {{ post.publishUp|date('l, F j, Y') }}</span>
    </div>
{% endblock %}

{% block content %}
    <article>
        {{ post.text|raw }}
    </article>
    <ul class="pager">
        {% if post.hasPrevious %}
        <li class="previous">
            <a href="{{ route('blog/' ~ post.previous) }}"><i class="fa fa-arrow-left"></i> Previous Post</a>
        </li>
        {% endif %}
        {% if post.hasNext %}
        <li class="next">
            <a href="{{ route('blog/' ~ post.next) }}">Next Post <i class="fa fa-arrow-right"></i></a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
