{% extends 'base.html.twig' %}

{% block title %}{{ post.title }} | {{ parent() }} Blog{% endblock %}

{% block metaOgType %}article{% endblock %}

{% block metadata %}
    <meta property="og:article:published_time" content="{{ post.publishUp|date('c') }}" />
    <meta property="og:article:modified_time" content="{{ post.dateModified|date('c') }}" />
    <meta property="og:article:author" content="{{ post.author }}" />
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ request_uri() }}"
      },
      "headline": "{{ post.title }}",
      "image": [
        "{{ block('headerBackground') }}"
      ],
      "datePublished": "{{ post.publishUp|date('c') }}",
      "dateModified": "{{ post.dateModified|date('c') }}",
      "author": {
        "@type": "Person",
        "name": "{{ post.author }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ post.author }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ asset('img/about-michael.jpg', 'url') }}"
        }
      },
      "description": "{{ post.preview ?: first_paragraph(post.text) }}"
    }
    </script>
{% endblock %}

{%- block headerBackground -%}
    {%- if post.image is empty -%}
        {{ parent() }}
    {%- else -%}
        {{ asset('img/' ~ post.image, 'url') }}
    {%- endif -%}
{%- endblock -%}

{% block pageHeadingText %}
    <div class="site-heading">
        <h1>{{ post.title }}</h1>
        <span class="meta">Posted by {{ post.author }} on <time datetime="{{ post.publishUp|date('c') }}">{{ post.publishUp|date('l, F j, Y') }}</time></span>
    </div>
{% endblock %}

{% block content %}
    <article>
        {{ post.text|raw }}
    </article>
    <div class="row">
        {% if post.hasPrevious %}
            <div class="col-md">
                <a class="btn btn-outline-primary float-md-left" href="{{ route('blog/' ~ post.previous) }}"><i class="fa fa-arrow-left"></i> Previous Post</a>
            </div>
        {% endif %}
        {% if post.hasNext %}
            <div class="col-md">
                <a class="btn btn-outline-primary float-md-right" href="{{ route('blog/' ~ post.next) }}">Next Post <i class="fa fa-arrow-right"></i></a>
            </div>
        {% endif %}
    </div>
{% endblock %}
