{% extends "index.twig" %}

{% block title %}{{ article.category.title }} - {{ article.title }}{% endblock %}

{% block headerBackground %}{% if article.params.image is empty %}{{ parent() }}{% else %}{{ uri.media.full }}img/{{ article.params.image }}{% endif %}{% endblock %}

{% block pageHeadingText %}
    <div class="page-heading">
        <h1>{{ article.title }}</h1>
        <span class="meta">Posted by {{ article.createdBy.name }} on {{ renderDate(article.dateAdded, 'l, F j, Y') }}</span>
    </div>
{% endblock %}

{% block content %}
    <div class="row text-center">
        <div class="col-sm-2">
            <div class="fb-like" data-href="{{ uri.base.full }}{{ article.category.alias }}/{{ article.alias }}" data-layout="button" data-action="like" data-show-faces="true" data-share="true" style="display: inline-flex"></div>
        </div>
        <div class="col-sm-2">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ uri.base.full }}{{ article.category.alias }}/{{ article.alias }}" data-via="mbabker">Tweet</a>
        </div>
        <div class="col-sm-2">
            <g:plusone size="medium" count="true" href="{{ uri.base.full }}{{ article.category.alias }}/{{ article.alias }}"></g:plusone>
        </div>
    </div>
    {{ article.text|raw }}
{% endblock %}
