{% extends "index.twig" %}

{% block title %}{{ article.category.title }} - {{ article.title }}{% endblock %}

{% block headerBackground %}{% if article.params.image is empty %}{{ parent() }}{% else %}{{ uri.media.full }}img/{{ article.params.image }}{% endif %}{% endblock %}

{% block pageHeadingText %}
    <div class="page-heading">
        <h1>{{ article.title }}</h1>
        <span class="meta">Posted by {{ article.createdBy.name }} on {{ renderDate(article.dateAdded, 'l, F j, Y') }}</span>
    </div>
{% endblock %}

{% block content %}
    {{ article.text|raw }}
{% endblock %}
