{% extends 'base.html.twig' %}

{% block title %}About Me | {{ parent() }}{% endblock %}

{% block metaDescription %}About Michael Babker{% endblock %}

{% block metaOgType %}profile{% endblock %}

{% block metadata %}
    <link rel="canonical" href="{{ route('about') }}" />
    <meta property="og:profile:first_name" content="Michael" />
    <meta property="og:profile:last_name" content="Babker" />
    <meta property="og:profile:username" content="mbabker" />
    <meta property="og:profile:gender" content="male" />
{% endblock %}

{% block headerBackground %}{{ preload(asset('img/castle.jpg'), 'preload', {'as': 'image'}) }}{% endblock %}

{% block pageHeadingText %}
    <div class="page-heading">
        <h1>About Me</h1>
        <span class="subheading">Army vet, IT geek, Open Source aficionado.  Holds a prejudice against crap code and openly shares it.</span>
    </div>
{% endblock %}

{% block content %}
    <div class="float-right card border-0">
        <img class="card-img-top" src="{{ asset('img/about-michael.jpg') }}" alt="Michael">
    </div>
    <p>Michael Babker is a veteran of the Information Technology industry who brings over 13 years of knowledge and experience to the table. After finding a passion for building with and contributing to open source, he has transitioned to and works primarily in a web developer role and since 2012 has been an active leader and contributor to Joomla, where he has served as the release coordinator for three of Joomla's feature releases, a member of the Board of Directors of Open Source Matters, Inc. (the not-for-profit organization supporting the Joomla project), and is an active member of its security team.</p>
    <p>Before transitioning into web development as a full time career, he served for nine years in the US Army as an Information Technology Specialist and served in several roles including Help Desk Team Leader, Senior Information Systems Support Specialist, and Information Assurance Security Officer. As a Sergeant in the Army, he was directly responsible for the morale, welfare, and professional development of a team of junior Soldiers.</p>
    <p>Michael holds an Associate of Arts in Information Technology with a concentration in Web Design and is currently the Lead Developer for <a href="https://hdwebpros.com" rel="nofollow noopener">Happy Dog Web Productions</a>. When not actively coding, Michael can often be found engaged with the open source community as an advocate and evangelist for the continued growth and use of open software and the open web.</p>
    <h2>Awards &amp; Recognitions</h2>
    <ul>
        <li>US Army Signal Center and Fort Gordon Service Member of the Quarter - 1st Quarter, FY 2008</li>
        <li>Nominated for the USINSCOM Quality/Customer Service Award - 2010</li>
        <li>Joomla Open Source Creative and Artistic Recognition - GitHub Junkie Award, J &amp; Beyond 2012</li>
        <li>Joomla Open Source Creative and Artistic Recognition - Joomla! Innovation of the Year, J &amp; Beyond 2014 (as maintainer of the Patch Tester component)</li>
    </ul>
    <h2>Open Source Contributions</h2>
    <ul>
        <li><a href="https://www.openhub.net/accounts/mbabker" rel="nofollow noopener">OpenHUB profile</a></li>
        <li><a href="https://github.com/mbabker" rel="nofollow noopener">GitHub profile</a></li>
    </ul>
    <p class="text-center"><img src="{{ asset('img/mil-sig.png') }}" alt="militarysignatures.com"></p>
{% endblock %}
