<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content="Joomla! Framework" />
        <meta name="description" content="{% block metaDescription %}Michael Babker's Personal Website{% endblock %}" />
        <meta property="og:description" content="{{ block('metaDescription') }}" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="Michael's Website" />
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:type" content="{% block metaOgType %}website{% endblock %}" />
        <meta property="og:url" content="{{ request_uri() }}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@mbabker" />
        <meta name="twitter:description" content="{{ block('metaDescription') }}" />
        <meta name="twitter:title" content="{{ block('title') }}" />
        {% block metadata %}{% endblock %}
        <title>{% block title %}Michael's Website{% endblock %}</title>
        {% block headJavaScript %}{% endblock %}
        {% block headCSS %}
            <link href="{{ preload(asset('css/template.css', 'mix'), 'preload', {'as': 'style'}) }}" rel="stylesheet">
            <link href="{{ preload(asset('css/cookieconsent.min.css'), 'preload', {'as': 'style'}) }}" rel="stylesheet">
        {% endblock %}
        {% if appDebug %}
            <link href="{{ asset('css/debugbar.css') }}" rel="stylesheet">
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{{ route('') }}">Michael's Website</a>
                </div>
                <div class="collapse navbar-collapse" id="site-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ route('') }}">Home</a></li>
                        <li><a href="{{ route('about') }}">About Me</a></li>
                        <li><a href="{{ route('blog') }}">Blog</a></li>
                        <li><a href="{{ route('speaking') }}">Speaking</a></li>
                        {% block navbar %}{% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
        <header class="intro-header" style="background-image: url('{% block headerBackground %}{{ asset('img/home-bg.jpg') }}{% endblock %}')">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        {% block pageHeadingText %}
                        <div class="site-heading">
                            <h1>Michael's Website</h1>
                        </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
        <footer class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://github.com/mbabker" rel="nofollow noopener">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="sr-only">GitHub</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://volunteers.joomla.org/joomlers/michael-babker" rel="nofollow noopener">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-joomla fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="sr-only">Joomla!</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/mbabker" rel="nofollow noopener">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="sr-only">LinkedIn</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.reddit.com/user/mbabker" rel="nofollow noopener">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-reddit-alien fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="sr-only">Reddit</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://stackoverflow.com/users/498353/michael" rel="nofollow noopener">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="sr-only">Stack Overflow</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/mbabker" rel="nofollow noopener">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="sr-only">Twitter</span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">&copy; 2014 - {{ now|date('Y') }} Michael Babker | <a href="{{ route('privacy') }}">Privacy Policy</a></p>
                </div>
            </div>
        </footer>
        {% block bodyJavaScript %}
            <script src="{{ preload(asset('js/template.js', 'mix'), 'preload', {'as': 'script'}) }}"></script>
        {% endblock %}
        {% if appDebug %}
            <script src="{{ asset('js/debugbar.js') }}"></script>
        {% endif %}
    </body>
</html>
