<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content="Joomla! Framework" />
        <meta name="description" content="{% block metaDescription %}Michael Babker's Personal Website{% endblock %}" />
        <meta property="og:description" content="{{ block('metaDescription') }}" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="Michael's Website" />
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:type" content="{% block metaOgType %}website{% endblock %}" />
        <meta property="og:url" content="{{ request_uri() }}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@mbabker" />
        <meta name="twitter:description" content="{{ block('metaDescription') }}" />
        <meta name="twitter:title" content="{{ block('title') }}" />
        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Person",
          "name": "Michael Babker",
          "url": "https://michaels.website",
          "sameAs": [
            "https://www.linkedin.com/in/mbabker",
            "https://twitter.com/mbabker"
          ]
        }
        </script>
        {% block metadata %}{% endblock %}
        <title>{% block title %}Michael's Website{% endblock %}</title>
        {% block headJavaScript %}{% endblock %}
        {% block headCSS %}
            <link href="{{ preload(asset('css/template.css', 'mix'), 'preload', {'as': 'style'}) }}" rel="stylesheet">
            <link href="{{ preload(asset('css/cookieconsent.min.css'), 'preload', {'as': 'style'}) }}" rel="stylesheet">
        {% endblock %}
        {% if appDebug %}
            <link href="{{ asset('css/debugbar.css') }}" rel="stylesheet">
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="{{ route('') }}">Michael's Website</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ route('') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ route('about') }}">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ route('blog') }}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ route('speaking') }}">Speaking</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead" style="background-image: url('{% block headerBackground %}{{ preload(asset('img/home-bg.jpg', 'url'), 'preload', {'as': 'image'}) }}{% endblock %}')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        {% block pageHeadingText %}
                        <div class="site-heading">
                            <h1>Michael's Website</h1>
                        </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
        <footer class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="https://github.com/mbabker" rel="nofollow noopener">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="sr-only">GitHub</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://volunteers.joomla.org/joomlers/michael-babker" rel="nofollow noopener">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-joomla fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="sr-only">Joomla!</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/mbabker" rel="nofollow noopener">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="sr-only">LinkedIn</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.reddit.com/user/mbabker" rel="nofollow noopener">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-reddit-alien fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="sr-only">Reddit</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://stackoverflow.com/users/498353/michael" rel="nofollow noopener">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="sr-only">Stack Overflow</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/mbabker" rel="nofollow noopener">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="sr-only">Twitter</span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted text-center">&copy; 2014 - {{ now|date('Y') }} Michael Babker | <a href="{{ route('privacy') }}">Privacy Policy</a></p>
                </div>
            </div>
        </footer>
        {% block bodyJavaScript %}
            <script src="{{ preload(asset('js/template.js', 'mix'), 'preload', {'as': 'script'}) }}"></script>
        {% endblock %}
        {% if appDebug %}
            <script src="{{ asset('js/debugbar.js') }}"></script>
        {% endif %}
    </body>
</html>
